body {
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  margin: 1.66%;
  width: 30%;
  float: left;
}

.name {
  letter-spacing: 3px;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 20px;
}

nav {
  text-align: center;
  text-transform: lowercase;
  color: black;
  font-size: 12.5px;
  word-spacing: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

h1.projects {
  color: blue;
  text-transform: uppercase;
}

.projects-container {
  width: 960px;
  margin: 0 auto;
  margin-top: 10px;
}

.coming-soon {
  font-size: 2rem;
  width: 80%;
  margin: 0 auto;
  font-weight: 300;
}

.return {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
}

.return:after {
  border-bottom: 2px solid black;
}

h2 {
  text-align: center;
}
