* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

nav li {
  display: inline-block;
  color: black;
  padding-left: 50px;
}

.description {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}

.img-link:link,
.img-link:visited {
  border-bottom: 0px;
  color: #000;
}


nav {
  top: 0;
  left: 0;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: #555;
  padding-bottom: 1px;
  border-bottom: 1px solid #555;
}

nav a:hover,
nav a:active {
  color: #e67e22;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.2s, color 0.2s;

}



.project-link:link,
.project-link:visited {
    text-decoration: none;
    color: #e67e22;
    padding-bottom: 1px;
}

.project-link:hover,
.project-link:active {
    color: #555;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
}

.navbar a:link,
.navbar a:visited {
    text-decoration: none;
    border-bottom: 0;
}

.navbar a:hover,
.navbar a:active {
}

.navbar {
  background-color: #f1f1f1;
  border: 0;
}

hr {
  border: 1px solid #000;
  width: 30%;
}


/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1, h2 {
    word-break: break-all;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

h1 {
  font-size: 6rem;
  margin-bottom: 5px;
}

h2 {
  margin-top: 0;
  font-size: 2.5rem;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 33%;
}

.color-game-link {
  text-decoration: none;
  color: #000;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

.section-main {
  padding-top: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
